:root {
    --mainText: #fff;
    --secondaryText: #eeeeee;
    --mainColour: #606B56;
    --borderColour: #161914;
    --secondaryColour: #515a48;
    --themeDotBorder:#fff;
    --previewBg:rgb(81,90,72,0.8);
    --previewShadow:#2a2f25;
    --submitBtn:669966;
  }
  