:root {
  --mainText: #fff;
  --secondaryText: #eeeeee;
  --mainColour: #46344e;
  --borderColour: #1d1520;
  --secondaryColour: #382a3f;
  --themeDotBorder: #fff;
  --previewBg: rgb(29, 21, 32, 0.8);
  --previewShadow: #2b202f;
  --submitBtn: #2b202f;
}
